@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --beige: rgba(243, 221, 196, 1);
  --black: rgba(0, 0, 0, 1);
  --lightest: rgba(250, 246, 240, 1);
  --searchbar: rgba(145, 145, 145, 1);
}
